@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Montserrat:wght@500&display=swap");
body {
  background-color: #f8f0e5;
  color: #272829;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.container {
  margin: 0 300px;
}
.red {
  color: #c70039;
}

/* HEADER */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.app-name-link {
  font-size: 40px;
  text-decoration: none;
  text-align: center;
}

.nav-link {
  margin: 0 15px;
  color: #272829;
  text-decoration: none;
}
.nav-link:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* LANDING */

.landing-main {
  margin-top: 130px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.landing-img {
  width: 600px;
  height: 500px;
  border-radius: 20%;
}

.landing-title {
  margin-top: 0;
  font-size: 70px;
  font-family: "Big Shoulders Display", sans-serif;
}

.search-bar-container {
  margin-top: 60px;
}

/* SEARCH BAR */

.search-bar-input {
  margin: 0;
  width: 500px;
  height: 50px;
  border-radius: 100px;
  text-indent: 30px;
  color: #272829;
  font-size: 20px;
}

/* LOGIN */

.login-container {
  margin-top: 130px;
  text-align: center;
}
.login-form {
  padding: 80px 50px;
  background-color: white;
  display: inline-block;
  border-radius: 20px;
}
.login-form input {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-indent: 12px;
  height: 40px;
  width: 400px;
  margin: 20px 0;
  border-radius: 20px;
}

.btn {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  padding: 20px 100px;
  border: none;
  border-radius: 25px;
  background-color: #c70039;
  cursor: pointer;
}

.btn:hover {
  background-color: #a30032;
}

.definition-text {
  font-family: "Montserrat", sans-serif;
  margin-top: 40px;
  height: 670px;
  width: 1000px;
  border-radius: 10px;
  padding-left: 20px;
  font-size: 22px;
  background-color: #faf8f1;
  resize: none;
}

.search-main {
  display: flex;
  justify-content: space-between;
}
.definition-container {
  text-align: right;
}

.word-list {
  margin-top: 50px;
  max-height: 700px;
  width: 300px;
  overflow: scroll;
}

.word-list::-webkit-scrollbar {
  color: black;
  background-color: white;
  border-radius: 6px;
}

.word-list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-clip: content-box;
  background-color: #d55959;
}

.word-list-item:hover {
  cursor: pointer;
  color: #c70039;
}

/* TEST */

.questions-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}
.questions {
  background-color: #9bcdd2;
  min-width: 900px;
  min-height: 600px;
  border-radius: 40px;
}
.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  gap: 40px;
}
.questions h1 {
  font-size: 60px;
}
.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 60px;
  font-size: 28px;
  width: 300px;
  height: 80px;
  border-radius: 20px;
  background-color: #faf0e4;
  border: 4px solid black;
  cursor: pointer;
}

.answer:hover {
  border: 4px solid #9925b1;
}

.true {
  background-color: rgb(90, 218, 90);
}

.false {
  background-color: rgb(218, 90, 90);
}

.score {
  color: green;
}

.game-end {
  margin-top: 120px;
}
.menu-button {
  cursor: pointer; /* Show the menu button on screens less than 1070px */
}

/* MEDIA QUERIES */
@media (max-width: 1750px) {
  .container {
    margin: 0 200px;
  }
  .definition-text {
    height: 500px;
    width: 800px;
  }
}
@media (max-width: 1543px) {
  .container {
    margin: 0 100px;
  }
}


@media (max-width: 1400px) {
  body {
    font-size: 18px;
  }
  .container {
    margin: 0;
  }
  .app-name-link {
    font-size: 32px;
  }
}

@media (max-width: 1070px) {
  body {
    font-size: 16px;
  }

  .header-search {
    width: 300px;
  }
  .landing-main {
    justify-content: center;
  }
  .landing-img {
    display: none;
  }
  .definition-text {
    width: 600px;
  }
}

@media (max-width: 835px) {

  .definition-text {
    width: 400px;
  }
  .questions {
    min-width: 600px;
  }
  .answers {
    gap: 10px;
  }
  .answer {
    font-size: 18px;
    width: 200px;
  }
  /* DROP DOWN MENU */
  .dropbtn {
    background-color: #c70039;
    color: white;
    padding: 16px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 30px;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    right: 0;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}
@media (max-width: 558px) {
  .questions {
    min-width: 400px;
    height: 100px;
  }
  .answer {
    width: 100px;
  }
  .word-list::-webkit-scrollbar {
    width: 0px;
  }
  .word-list::-webkit-scrollbar-thumb {
    display: none;
  }
  
  .definition-text{
    width: 200px;
  }
  .header-search {
    width: 200px;
    text-indent: 10px;
  }

  .landing-title {
    font-size: 55px;
  }
  .landing-search {
    width: 400px;
  }
}


@media (max-width: 453px) {
  
  .header-search {
    width: 150px;
    text-indent: 0;
  }
  .app-name-link {
    font-size: 25px;
  }
  .landing-title {
    font-size: 45px;
  }
  .landing-search {
    width: 300px;
  }
}
